$lg-device-size: 1024px;
$md-device-size: 640px;
$main-background-color: #1D1D26;
$secondary-background-color: #292934;
$main-font-color: #FFFFFF;
$secondary-font-color: #8C8C9E;
$link-color: #ED63A8;
$hover-color: #FF7BA3;
$gradient-accent-color: linear-gradient(190deg, #FFCFAF 0%, #FF7BA3 51.56%, #C22BB3 100%);
$gradient-hover-color: linear-gradient(190deg, #C22BB3 0%, #FF7BA3 51.56%, #FFCFAF 100%);
$secondary-accent-color: #464654;
$main-box-shadow-color: rgba(245, 110, 166, 0.25);
$secondary-box-shadow-color: rgba(0, 0, 0, 0.20);
$modal-box-shadow-color: rgba(0, 0, 0, 0.33);
$secondary-modal-box-shadow-color: rgba(0, 0, 0, 0.50);
