@import '../../app/assets/styles/index';

.block {
  display: flex;
  padding: 8px 24px;
  color: $main-font-color;
  background-color: $secondary-accent-color;
  border-radius: 40px;
  transition: all 0.3s;
;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}
