@import '../../app/assets/styles/index';

.tasksWrapper {
  position: relative;
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 16px;
}

.message {
  font-size: 36px;
  color: $secondary-font-color;
  text-align: center;
  margin: auto;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 50%;
  bottom: 48px;
  transform: translate(-50%, 0);
  width: max-content;
  padding: 36px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 7px 24px 0 $main-box-shadow-color, 3px 3px 4px 0 $secondary-box-shadow-color;
  transition: all 0.6s ease-in-out;
  cursor: pointer;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: $gradient-accent-color;
    transition: all 0.6s ease-in-out;
    z-index: -1;
  }

  &:after {
    background-image: $gradient-hover-color;
    opacity: 0;
  }

  &:hover {
    transform: translate(-50%, 3px);
    &:after {
      opacity: 1;
    }
  }

  svg {
    path {
      stroke: white;
    }
  }
}
