@import '../../app/assets/styles/index';

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 16px;
  min-width: 150px;
  min-height: 50px;
  background-color: $secondary-accent-color;
  color: $main-font-color;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  border: 2px solid transparent;
  overflow: hidden;
  z-index: 0;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: none;
    border: 2px solid $secondary-accent-color;
    cursor: pointer;
  }

  @include md-device {
    font-size: 16px;
    min-width: 100px;
  }
}

.fullwidth {
  width: 100%;
}

.gradient {
  background: none;
  border: none;
  box-shadow: 4px 7px 24px 0 $main-box-shadow-color, 3px 3px 4px 0px $secondary-box-shadow-color;
  &::before,
  &::after {
    background-image: $gradient-accent-color;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: block;
    transition: opacity 0.6s ease-in-out;
  }

  &:after {
    background-image: $gradient-hover-color;
    opacity: 0;
  }

  &:hover {
    border: none;
      &:after {
        opacity: 1;
        cursor: pointer;
      }
    }
}
