@import "../../app/assets/styles/index";

.blockSelect {
  position: relative;
  width: max-content;
  cursor: pointer;
}

.selectedOption {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid $secondary-accent-color;
  border-radius: 12px;
  background-color: $secondary-background-color;
}

.options {
  position: absolute;
  top: 110%;
  left: 0;
  display: none;
  justify-content: space-between;
  gap: 22px;
  width: 232px;
  height: min-content;
  overflow-y: auto;
  padding: 16px;
  box-shadow: 0 4px 8px $secondary-box-shadow-color;
  border: 1px solid $secondary-accent-color;
  border-radius: 12px;
  background-color: $secondary-background-color;
  z-index: 999;
}

.open .options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.option {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.iconWrapper {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: $gradient-accent-color;
  box-shadow: 4px 7px 24px 0 $main-box-shadow-color, 3px 3px 4px 0 $secondary-box-shadow-color;
}
