@import '../../app/assets/styles/index';

.span {
  color: $main-font-color;
  font-size: 18px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconWrapper {
  &:hover {
    cursor: pointer;
  }
}

.errorMessage {
  color: $hover-color;
  font-size: 15px;
}
