@import '../../app/assets/styles/index';

.description {
  color: $main-font-color;
  font-size: 18px;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 16px;
}

.errorMessage {
  color: $hover-color;
  font-size: 15px;
}

.successMessage {
  color: green;
  font-size: 15px;
}
