@import "../../app/assets/styles/index";

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 400;
}

.highlight {
  font-weight: 700;
}

.subtitle {
  margin-bottom: 36px;
  color: $secondary-font-color;
}

.buttons {
  display: flex;
  gap: 24px;
}
