@import "../../app/assets/styles/index";

.block {
  display: flex;
  justify-content: center;
  align-items: center;

  @include md-device {
    flex-direction: column-reverse;
  }
}

.header {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 400;

  @include md-device {
    font-size: 64px;
  }
}

.highlight {
  font-weight: 700;
}

.textWrapper {
  max-width: 360px;

  @include md-device {
    margin-bottom: 50px;
  }
}

.subtitle {
  margin-bottom: 36px;
  color: $secondary-font-color;
}

.buttons {
  display: flex;
  gap: 24px;
}

.image {
  width: 100%;
}
