@import '../../app/assets/styles/index';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxWrapper {
  margin-bottom: 30px;
}

.errorMessage {
  color: $hover-color;
  font-size: 15px;
}
