@import "../../app/assets/styles/index";

.block {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  background-color: $secondary-background-color;
  border-radius: 24px;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
}
