@import "./src/app/assets/styles/index";

.block {
  max-width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: $secondary-background-color;
  border-radius: 24px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
