@import "../../app/assets/styles/index";

.block {
  padding: 24px;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background: $secondary-background-color;
  border-radius: 24px;
  flex-shrink: 0;
  overflow: hidden;

  &:hover {
    .closeBtn {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  @include md-device {
    padding: 20px 12px;
    min-height: 200px;
  }
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
  transition: opacity ease 0.5s;
}

.title {
  display: flex;
  font-size: 28px;
  font-weight: 700;
  overflow-wrap: anywhere;
  hyphenate-limit-chars: 9;
  hyphens: auto;
  hyphenate-character: '-';

  @include md-device {
    font-size: 24px;
  }
}

.smallerTitle {
  font-size: 23px;
}

.span {
  color: $secondary-font-color;
  font-size: 16px;
  font-weight: 600;
}

.blockProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.infoProgress {
  font-size: 16px;
  font-weight: 400;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.iconsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include md-device {
    height: 48px;
    border-radius: 16px;
  }
}

.iconWrapper {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;

  @include md-device {
    width: 48px;
    height: 48px;
    border-radius: 16px;
  }
}

.input {
  background: none;
  border: none;
  color: $secondary-font-color;
  outline: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  line-height: normal;
  display: flex;
  width: 100%;
  font-size: inherit;
  font-weight: 700;
  text-overflow: ellipsis;
}
